

/* Footer Section Strat */

footer {
    height: 250px;
    background: #F97316;
    overflow: hidden;
    padding-top: 30px;
    color: #F5F5F4;
}

.footer-content,
.footer-bottom {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.footer-content h2 {
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
}

.footer-content p {
    max-width: 600px;
    margin: 10px auto;
    line-height: 28px;
}

.footer-bottom {
    font-size: 18px;
}

/* Footer Section End */

@media (min-width: 320px) and (max-width: 767px) {
    footer{
        height: 300px;
    }
}


/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: #d6d3d1 #F5F5F4;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 10px;
}

*::-webkit-scrollbar-track {
    background: #F5F5F4;
}

*::-webkit-scrollbar-thumb {
    background-color: #d6d3d1;
    border-radius: 10px;
    border: 10px none #000000;
}